.background{
    background-image: url(./images/pexels-miguel-á-padriñán-194096.jpg);
}
.mainTitlebar {
    display: flex;
    background-color: black;
    opacity: 82%;
    border: solid 2px;
    border-color: grey;
}
.mainTitlebar a {
    font-size:4rem;
    font-weight: bolder;
    margin-right: 30rem;
    color: white;
    margin-left: 2px;
}
.mainTitlebar button {
    font-size: 2rem;
    color: white;
    margin: auto;
    background-color: darkblue;
    
}
.mainTitlebar img {
    flex-wrap: wrap;
}
.titleBit {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction:column;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 2rem;
    border: solid rgba(0, 0, 0, 0.593);
    background-color: rgba(128, 128, 128, 0.471);
    border-radius: 50px;
}
.titleBit div {
    text-align: center;
    margin: 1px;
}
.contentBoxes {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 10px;
    gap: 1rem;
}
.contentBoxes a {
    font-size: x-large;
    color: blue;
    border: solid 3px;
    border-radius: 10px;
    margin: 3px;
    background-color: rgba(193, 193, 193, 0.338);
}
.contentBoxes img {
    width: 20rem;
    height: 20rem;
    border: solid 5px black;
    border-radius: 100px;
    margin: 3px;
}
button {
    transition: transform .3s ease-in-out;
    border-radius: 23px;
}
  
button:hover {
    transform: scale(1.1);
}
.titleImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid 5px black;
    border-radius: 60px;
    margin-top: 6rem;
}
.listSection {
    border: 4px;
    /* border: solid green; */
    margin: 4rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.listSectionwords {
    border: 20px;
    border: solid black;
    border-radius: 1rem;
    margin: 2rem;
    padding: 2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 60rem;
    background-color: rgba(17, 19, 19, 0.689);
}
.listSectionTitle {
    border: 2rem;
    border: groove black;
    background-color: rgba(96, 97, 98, 0.33);
    margin: 1px;
    padding: 2px;
    font-size: 5rem;
    color: white;
    text-align: center;
    
}
.listSectioncontentcontainer {
    border: 2px;
    /* border: solid blue; */
    margin: 2px;
    display: flex;
}
.listSectionimage {
    height: 20rem;
    width: 25rem;
    margin: 2rem;
    border: 3px;
    border: solid black;
}
.listSectioncontentcontainerbox {
    border: 2rem;
    /* border: solid blue; */
    margin: 2rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
}
.listSectioncontentcontainertitle {
    border: 2rem;
    /* border: solid red; */
    margin: 2rem;
    font-size: 3rem;
    color: white;
}
.listSectioncontentcontaineritemdescription {
    border: 2rem;
    /* border: solid green; */
    margin: 2rem;
    font-size: 29px;
    color: white;

}
.listSectionblankspace {
    /* border: 4px;
    border: solid red; */
    margin: 2rem;
    padding: 2rem;
    width: 28rem;
}
.overlay {
    border: 2rem;
    /* border: solid red; */
    margin: 4rem;
    display: flex;
    flex-direction: row;
}
.overlayFiller {
    border: 2rem;
    /* border: solid orange; */
    width: 40rem;
    margin: 4rem;
}
.overlayContent {
    /* border: 2rem; */
    background-color: rgba(17, 19, 19, 0.689);
    display: flex;
    width: 40rem;
    margin: 2rem auto;
    flex-direction: column;
    border-radius: 50px;
}
.overlayTitle {
    border: 2rem;
    /* border: solid red; */
    font-size: 5rem;
    text-align: center;
    margin: 1rem;
    color: blueviolet;
}
.overlayWords {
    border: 2rem;
    /* border: solid orange; */
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
    color: white;
}
.overlayPicture {
    border: 2rem;
    /* border: solid green; */
    margin: 2rem;
    text-align: center;   
}
.recipeLayout {
    border: 2rem;
    /* border: solid blue; */
    display: flex;
    flex-direction: column;
    margin: 3rem;
}
.recipeTitle {
    border: 2rem;
    border: solid black;
    font-size: 9rem;
    text-align: center;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0.363);
    color: White;
    text-shadow: 2rem;
    border-radius: 20px;
}
.recipeLayoutcontent {
    border: 2rem;
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.recipeLayoutcontentimg {
    border: 2rem;
    /* border: solid orange; */
    margin: 2rem;
    padding: 2rem;
    text-align: center;
}
.recipeLayoutcontentimg img {
    border-radius: 80px;
}
.recipeLayoutcontent1 {
    border: 2rem;
    border: solid black;
    display: flex;
    flex-direction: row;
    /* height: 200rem; */
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 20px;

}
.recipeLayoutcontent2 {
    border: 2rem;
    /* border: solid blue; */
    display: flex;
    flex-direction: column;
    margin: 4rem;
}
.recipeLayoutingredients {
    border: 2rem;
    border: solid black;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.165);
    border-radius: 20px;
}
.recipeLayoutingredientstitle {
    border: 2rem;
    border: solid rgba(3, 3, 40, 0.807);
    font-size: 4rem;
    margin: 2rem;
    border-radius: 20px;
    color: greenyellow;
}
.recipeLayoutingredientslist {
    border: 2rem;
    /* border: solid orange; */
    margin: 2rem;
    font-size: 2rem;
    color: white;
}
.imageWithscrollbar {
    border: 2rem;
    border: solid teal;
    margin: 2rem;
}
.recipeLayoutcontentsteps {
    border: 2rem;
    border: solid black;
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.165);
    border-radius: 20px;
}
.recipeLayoutstepstitle {
    border: 2rem;
    border: solid rgba(3, 3, 40, 0.807);
    font-size: 4rem;
    margin: 2rem;
    color: greenyellow;
    border-radius: 20px;


}
.recipeLayoutstepscontent {
    border: 2rem;
    /* border: solid red; */
    font-size: 2rem;
    margin: 2rem;
    color: white;
}
.recipeLayoutcontainer {
    border: 2rem;
    /* border: solid green; */
    display: flex;
    margin: 2rem;
    flex-direction: column;
    justify-content: space-between;
}
.imagecontainer {
    /* border: 2rem; */
    /* border: solid green; */
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 40rem;
    height: 50rem;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 50px;
    gap: 30px;
    margin: 2rem auto;
    margin-bottom: 10rem auto;
}
.imagecontainer .item {
    flex: 0 0 100px;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align: start;
}