.background {
    background-color: #e2e28a;
}
.mainTitlebar {
    display: flex;
}
.mainTitlebar a {
    font-size: larger;
    font-weight: bolder;
    margin-right: 30rem;
}
.mainTitlebar button {
    font-size: large;
    color: white;
    margin: auto;
    background-color: brown;
}
.contentBoxes {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px;
}
.contentBoxes a {
    font-size: x-large;
    color: blue;
    border: solid 2px;
}
.contentBoxes img {
    width: 20rem;
    height: 20rem;
    border: solid 5px black;
    border-radius: 100px;
}